<html>
    <head>
        <title>
            <%= title%>
        </title>

    </head>
    <body>
        <h1>Contact List</h1>
        <div>
            <ul>
                <% for (let i of cotact_list){%>
                    <li>
                        <p><%= i.name %></p>
                        <p><%= i.phone %></p>
                    </li>

                    <%}%>
            </ul>
        </div>
        <form action="/create-contact" method="POST">
            <input type="text" name="name" placeholder="Name">
            <input type="number" name="phone" placeholder="Phone">
            <button type="submit">Add Contact</button>
        </form>
    </body>
</html>