<html>

<head>
    <title>
        <%= title%>
    </title>
</head>

<body>
    <h1>Practice</h1>
    <ul>
        <% for(let i=1; i<6; i++){ %>
            <li>
                <%= i%>
            </li>
        <%}%>

        <%if(true){ %>
            <h1>It's True</h1>
            <%} else{ %>
            <p>It's False</p>
        %}%>
    </ul>
</body>

</html>